* text=auto

*.cs text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.shader text eol=lf
*.hlsl text eol=lf
*.cginc text eol=lf
*.asmdef text eol=lf

*.png binary
*.jpg binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary
*.asset binary
*.unity binary
*.prefab binary
*.mat binary
